@charset "utf-8";

/* ==========================================================================
   Foundation
   ========================================================================== */

/* Reset
   ----------------------------------------------------------------- */
@import "fundation/html5reset-1.6.1";


/* Base
   ----------------------------------------------------------------- */

html {
    height: 100%;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fbe550;
    color: #333;
    height: 100%;

    input {
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      cursor: pointer;
      margin: 0;
    }

    a {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #0070c0;
    }

    a:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
    }

    a:visited,
    a:active {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }

    ul, ol {
      margin-left: 1em;
    }
}

/* ----- */

.container {
    height: 100%;
}


/* ==========================================================================
   Layout
   ========================================================================== */

/* Header
   ----------------------------------------------------------------- */

.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    color: #fff;
    background-color: #222;
    padding: 10px;
    line-height: 20px;
    z-index: 1000;
    
    .header__title {
        font-size: 14px;
        overflow: hidden;
        padding-left: 5px;
        
        > a {
            color: #fff;
            text-decoration: none;
        }
    }
    
    .header__btn {
        float: left;
        color: #eee;
        text-decoration: none;
    }
    
    .header__info {
        float: right;
        
        .header__info__point {
            position: relative;
            display: inline-block;
            border-radius: 5px;
            padding: 3px 8px;
            margin-top: -3px;
            margin-right: 5px;
            background-color: #bf3b3b;
            
            &:after {
                content: " ";
                display: block;
                position: absolute;
                right: -5px;
                top: 50%;
                margin-top: -4px;
                border-style: solid;
                border-width: 4px 0 4px 5px;
                border-color: transparent #bf3b3b;
            }
        }
        
        .p-login-menu__toggle {
            display: inline-block;
            color: #eee;
            text-decoration: none;
            font-size: 20px;
            vertical-align: middle;
        }
    }
}

/* Contents
   ----------------------------------------------------------------- */

.contents {
    height: 100%;
    
    .content-main {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        padding: 55px 15px 15px;
        width: 100%;
        min-height: 100%;
        
        .content-main__title {
            text-align: center;
            font-size: 1.3rem;
            background-color: #fff;
            border-radius: 10px;
            padding: 10px;
        }
    }
    
    .content-side {
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        padding: 15px;
    }
}



/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */


/**
 * button
 */

.c-btn {
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 15px 5px;
    
    &.c-btn--block {
        display: block;
    }
    
    &.c-btn--lg {
        font-size: 1.5rem;
        padding: 10px 15px;
    }
    
    &.c-btn--primary {
        background-color: #325981;
    }
    
    &.c-btn--important {
        background-color: #bf3b3b;
    }
}


/* Project
   ----------------------------------------------------------------- */

/**
 * login menu
 */

.p-login-menu__toggle {
    
}

.p-login-menu__content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f5f5f5;
    color: #222;
    
    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: -5px;
        right: 20px;
        margin-right: -4px;
        border-style: solid;
        border-width: 0 4px 5px 4px;
        border-color: #f5f5f5 transparent;
    }
    
    .p-login-menu__content__name {
        padding: 5px;
    }
    
    .p-login-menu__content__link {
        display: block;
        padding: 5px;
    }
}


/**
 * Top content
 */

.p-top__eyecatch {
    margin: -15px -15px 0;
    width: calc(100% + 30px);
}

.p-top__main-nav {
    %p-top__main-nav__item {
        display: block;
        width: 50%;
        float: left;
        text-align: center;
        text-decoration: none;
        
        
        .p-top__main-nav__item__img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            overflow: hidden;
            padding: 5px;
            background: #fff;
        }
        
        .p-top__main-nav__item__name {
            display: block;
            font-size: .8rem;
            font-weight: bold;
            color: #222;
        }
    }
    
    .p-top__main-nav__item--quiz {
        @extend %p-top__main-nav__item;
        width: 60%;
        margin: 0 20% 10px;
        
        .p-top__main-nav__item__img {
            width: 120px;
            height: 120px;
        }
        
        .p-top__main-nav__item__name {
            font-size: 1.4rem;
        }
    }
    
    .p-top__main-nav__item--gacha {
        @extend %p-top__main-nav__item;
    }
    
    .p-top__main-nav__item--collection {
        @extend %p-top__main-nav__item;
    }
    
}

.p-top__about {
    background-color: #222;
    color: #fff;
    text-align: center;
    font-weight: bold;
    
    .p-top__about__heading {
        margin-top: 30px;
        padding: 15px 5px;
        font-size: 1.5rem;
        
        border: dotted #fbe550;
        border-width: 2px 0;
        margin-bottom: 2rem;
    }
    
    .p-top__about__footing {
        font-size: 1.2rem;
        color: #fbe550;
    }
    
    p {
        margin-bottom: 1rem;
    }
}

/**
 * Quiz content
 */

.p-quiz__content {
    animation: quiz-fade-in 1.8s ease-in;
}

.p-quiz__count {
    text-align: center;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
}

.p-quiz__level {
    text-align: center;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;

    .p-quiz__level__star {
        color: #666;
    }

    &.is_easy .p-quiz__level__star:nth-child(1),
    &.is_normal .p-quiz__level__star:nth-child(-n+2),
    &.is_hard .p-quiz__level__star {
        color: #fbe550;
    }
}

.p-quiz__question {
    padding: 5px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    
    .p-quiz__question__sign {
        font-size: 2rem;
        font-weight: bold;
    }
}

.p-quiz__select-answers {
    .p-quiz__select-answers__item {
        display: block;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 1.2rem;
        text-decoration: none;
        border-bottom: 4px solid #ddd;
        
        .p-quiz__select-answers__item__num {
            font-weight: bold;
        }
    }
}

.p-quiz__notice-box {
    box-sizing: border-box;
    position: absolute;
    bottom: 100%;
    left: 30px;
    right: 30px;
    z-index: 990;
    
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    
    animation: quiz-slide-in-out 1.5s ease-in;

    .p-quiz__notice-box__count {
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
    }
}

/**
 * Quiz content result
 */

.p-quiz__result {
    .p-quiz__result__head {
        text-align: center;
        font-weight: bold;
        margin: 10px 0;
        line-height: 1;
        
        .p-quiz__result__head__sign {
            display: block;
            font-size: 8rem;
          
          &.is_correct {
            color: #c12f2f;
          }
        }

        .p-quiz__result__head__str {
            display: block;
            font-size: 4rem;
        }
    }
  
    .p-quiz__result__point {
        text-align: center;
        line-height: 1.1;
        margin: 20px auto;
        padding: .5em 0;
        font-size: 1.3rem;
        font-weight: bold;
        color: #bf3b3b;
        border: 10px solid #bf3b3b;
        background-color: #fff;
        animation: quiz-point-zoom-up .8s ease-out;

        .p-quiz__result__point__num {
            font-size: 1.5em;
        }
    }
  
    .p-quiz__result__desc {
        border-radius: 10px;
        padding: 15px;
        background: #fff;
        margin: 20px 0;
    }
  
    .p-quiz__result__btns {
        margin-top: 50px;
    }
}


/**
 * gacha content
 */

.p-gacha__list {
    .p-gacha__list__item {
        > a {
            display: block;
        }
    }
}

.p-gacha__gacha {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

.p-gacha__gachaimg {
    transform-origin: center center;
    animation: gacha-rotating 1.5s linear infinite;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    background: #fff;
}

.p-gacha__result {
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    z-index: 990;
    
    background-color: #fff;
    border-radius: 10px;
    border-top: solid #444 8px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    
    animation: gacha-zoom-up 1.8s ease-out;
    
    .p-gacha__result__name {
        text-align: center;
        font-size: 1.4rem;
        border-bottom: solid #ddd 1px;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    
    .p-gacha__result__summary {
        min-height: calc(70% - 1rem);
        margin-bottom: 1rem;
    }
    
    .p-gacha__result__img {
        text-align: center;
        margin-bottom: .5rem;
        
        > img {
            max-width: 100%;
        }
    }
}


/**
 * collection content
 */

.p-collection__table {
    width: 100%;
    table-layout: fixed;
    margin-top: 20px;
    
    > tbody > tr {
        > td {
            width: 30%;
            text-align: center;
            vertical-align: middle;
            padding: 10px 5px;
            border: dotted #dfbb4e;
            border-width: 2px 0 0 2px;

            &:first-child {
                border-left-width: 0;
            }
        }
        
        &:first-child > td {
            border-top-width: 0;
        }
    }
    
    .p-collection__item {
        text-decoration: none;
        font-size: .75rem;
        
        .p-collection__item__img {
            position: relative;
            display: inline-block;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            overflow: hidden;
            background: #fff;
            
            > img {
                position: absolute;
                height: 60px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        .p-collection__item__name {
            display: block;
            color: #222;
        }
    }
    
    .p-collection__item--empty {
        color: #dfbb4e;
        font-size: 4rem;
    }
}

/* Utility
   ----------------------------------------------------------------- */

@import "utility/clearfix";
@import "utility/display";

/*
* collapse
*/

.collapsed {
    display: none;
}

/*
* animation
*/

@keyframes quiz-fade-in {
  0% {
    opacity: 0;
  }
  
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes quiz-slide-in-out {
  0% {
    bottom: 100%;
  }
  
  20% {
    bottom: 40%;
  }
  
  80% {
    bottom: 40%;
  }

  100% {
    bottom: -100%;
  }
}

@keyframes quiz-point-zoom-up {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
    
  90% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes gacha-rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes gacha-zoom-up {
  0% {
    transform: scale(0);
  }
    
  80% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}